{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        {% block hwi_oauth_content %}
            {% if error is defined and error %}
                <span>{{ error }}</span>
            {% endif %}
            <div class="text-center" style="margin-top: 150px">
                <a href="{{ hwi_oauth_login_url('gitlab') }}" class="btn btn-info btn-lg"><i class="fa fa-gitlab"></i> Sign in with {{ 'gitlab' | trans({}, 'HWIOAuthBundle') }}</a> <br />
            </div>
        {% endblock hwi_oauth_content %}
    </div>
{% endblock body %}
