<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Trooping{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('build/app.css') }}">
            <link rel="stylesheet" href="https://afeld.github.io/emoji-css/emoji.css">
        {% endblock %}
    </head>
    <body class="{% block body_class %}{% endblock %}">
        {% block body %}{% endblock %}
        {% block javascripts %}
            <script src="{{ asset('build/app.js') }}"></script>
        {% endblock %}
    </body>
</html>
